@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-lighthover: #fcf4ff;
  --color-darkhover: #2a004a;
  --color-darktheme: #11001f;
  
  --font-family-outfit: "Outfit", "sans-serif";
  --font-family-ovo: "Ovo", "serif";
  
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  font-family: var(--font-family-outfit);
}

.font-outfit {
  font-family: var(--font-family-outfit);
}

.font-ovo {
  font-family: var(--font-family-ovo);
}

.auto-grid {
  grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
}
