@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --lighthover: #fcf4ff;
  --darkhover: #2a004a;
  --darkTheme: #11001F;
}

* {
  font-family: 'Outfit', sans-serif;
}

.font-outfit {
  font-family: 'Outfit', sans-serif;
}

.font-ovo {
  font-family: 'Ovo', serif;
}
